html{
    scroll-behavior: smooth;

}
body{
    
    /* font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    
}

header{
    position:sticky;
    top:0;
    z-index: 10;
}
.carousel-item{
    transition: 0.5s;
}
 
 
.carousel-caption h3 p{
    text-transform: capitalize;
} 

.carousel-caption h3{
    text-transform: capitalize;
    font-size: 2.5rem;
    color:white;
}
.carousel-caption p{
     color:white;
    font-size: 1.5rem;
}



#about-section{
    padding:3% 2%;
    background: rgb(183, 210, 216);
}
.section-title h2{
    font-size: 3rem;
}
.about-title p{
    width:80%;
}
.about-img{
    border-radius :.5rem ;
}


#service-section{
    padding: 2%;
    background: rgb(183, 210, 216);
}
.service-section{
   
    border-radius: 0.5rem;
}
 

#project-section{
    padding: 2%;
    background: rgb(183, 210, 216);
}


.team-img{
    width:150px;
    height: 130px;
}
 
@media (min-width:992px) {
    .carousel-caption{
         margin-bottom: 5rem;
         
    }
}

 
@media (max-width:576px) {
    body{
        font-size: 80%;
    }
    .section-title h2{
        font-size: 2.2rem;
    }
    .carousel-caption h3{
         font-size: 1.5rem;
         
    }
    .carousel-caption p{
        font-size: .8rem;
    }
     
}
